<html lang="en">

<body>
    <section>
        <!--for demo wrap-->
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        {{!-- <th>Gender</th> --}}
                        <th>Image</th>
                        <th>Feature</th>
                        <th><a class="btn btn-secondary" href="/girlToy/add">Add</a></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                {{#each girlToy }}
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{price}} $</td>
                        {{!-- <td>{{gender}}</td> --}}
                        {{!-- <td><iframe style="width:150px height:200px" src="{{vid}}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                               ></iframe></td> --}}
                        <td><img src="{{img}}" alt="" class="image"></td>
                        <td><a class="btn btn-secondary" href="/girlToy/edit/{{_id}}">Edit</a></td>
                        <td><a class="btn btn-secondary" href="/girlToy/delete/{{_id}}"
                                onclick="return confirm('Are you sure about it ?')">Delete</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </section>

    <!-- follow me template -->
    <div class="made-with-love">
        Made with
        <i>♥</i>
        by
        <a target="_blank" href="https://codepen.io/nikhil8krishnan">Phong Hoang</a>
    </div>
</body>

</html>